{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["standard", "flowtype", "react", "jest"],
  "rules": {
    "flowtype/type-id-match": [2, "^([A-Z][a-z0-9]*)+Type$"],
    "flowtype/sort-keys": [
      2,
      "asc",
      {
        "caseSensitive": true,
        "natural": false
      }
    ],
    "max-len": ["off", { "code": 80, "ignoreUrls": true }]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
