// @flow

// Examples
//Optimizely OptimizelyClient = new Optimizely(datafile);
setBooleanToggles(normalizedToggleSet)

// store user attributes to send to Optimizely for each call
setUserAttributes('userId', {
  deviceType: 'mobile'
})

// optimizelyClient.IsFeatureEnabled(id): boolean
booleanToggle('toggleId')

// if feature is enabled
// calls IsFeatureEnabled under the hood
booleanToggle('toggleId', () => foo())

// optimizelyClient.Activate('toggleId'): variationId
// or
// optimizelyClient.getFeatureVariableString('toggleId')
multiToggle('toggleId')

// for a/b/c convention
// calls Acivate or getFeatureVariableString under the hood
multiToggle('toggleId', 'a', 'b', 'c')
